<h1>Highlight Archive</h1>

<!-- <ul class="archive">
  <li>
    <%= link_to "Last 3 Months", month3_path %>
  </li>
  <li>
    <%= link_to "Last 6 Months", month6_path %>
  </li>
  <li>
    <%= link_to "All Time", alltime_path %>
  </li>
</ul> -->
