<div class="wrap">

<h2>Highlights Archive</h2>


<p>
  This Week
  <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/7juzaPpxN8Y?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</p>
<p>
  Week 3
  <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/wKEbw-DjRHA?start=24?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</p>
<p>
  Week 2
  <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/30hcRe-5_3M?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</p>
<p>
  Week 1
  <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/miV8WLya3x8?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</p>

<p></p>
<%= link_to "Go Back", highlight_path %>

</div>
