<h2>Contact Us</h2>
      <div class="row">
        <div class="col-md-6">
    <p class="contactus">
       If you have a question or would like more information, we'd love to hear from you.
       Simply contact us through the methods below or complete the enquiry form and we'll get back
       to you as soon as possible.
    </p>
    <h4>Our Office</h4>
    <h4> Unit 1/999 Joel Turnbull Drive, Butterfly Park </h4>
    <h4> Phone: 1300 000 000 </h4>
    <h4> Fax: (00) 0000 0000 </h4>
    </div>

<div  class= "col-md-6">
    <form class="form-horizontal" action="/pages/thankyou">
      <div class="form-group">
        <label for="Name3" class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName3" placeholder="Name" required="true">
        </div>
      </div>

<div class="form-group">
 <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
 <div class="col-sm-10">
   <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="true">
 </div>
</div>

<div class="form-group">
 <label for="inputComment3" class="col-sm-2 control-label">Comment: </label>
 <div class="col-sm-10">
   <textarea class="form-control" rows="5" required="true"></textarea>
</div>
<div class="form-group">
 <div class="col-sm-offset-2 col-sm-10">
   <button type="submit" id="cusubmit" class="btn btn-danger">Send</button>
 </div>
</div>

</form>
</div>
</div>
</div>

    <%= link_to 'Back Home', root_path %>
