
<div class="wrap">

<h2>Highlights</h2>

<%= link_to "Archive", archive_path %>

<h4>This Week's Highlight</h4>

<p>
  <iframe class="iframe" width="480" height="300" src="https://www.youtube.com/embed/7juzaPpxN8Y?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

</p>



<script>
$('.iframe').on('click', function () {
    $('#overlay, #overlay-back').fadeIn(500);
});
</script>
</div>
