<h1>NSWhales Futsal</h1>

<div class="feature1">
<img src="/assets/IMG_8202.jpg">
<img src="/assets/IMG_8185.jpg">
<img src="/assets/IMG_8174.jpg">
</div>

<h2>News</h2>
<p>
  NSWhales Futsal is a local competition designed to suit the needs of the players. For team registrations
  and general enquiries please Email: admin@nswhalesfutsal.com.
</p>
<p>
  For lost property please call 0400 000 000 or inquire at the office during business hours.
</p>
<p>
  Please note: No jewellery is allowed to be worn on the field during games. All players
  must wear shin pads and socks. Failure to adhere to the above rules and/or acts of
  misconduct can result in a forfeit.
</p>
