<h2>Thank You For Contacting Us</h2>
<br>
       <p> Your query has been lodged. </p>
       <p> We will get back to you as soon as possible. </p>
       <br>
       <br>
       <%= link_to 'Go Back Home', root_path  %>
