<div class="container">
<div class="welcome">
<h2>Welcome. Thank you for logging in.</h2>

<h3><% if @current_player.present? %>
  You are logged in as <%= @current_player.name %>
<% end %></h3>
</div>
<%= link_to "Go Back", root_path %>
</div>
