<h1>Forum</h1>

<h3><%= link_to "Competitions", "threads#competitions" %></h3>
<h3><%= link_to "Strategies", "threads#strategies" %></h3>
<h3><%= link_to "General Discussion", "threads#general_discussion" %></h3>
<h3><%= link_to "Funny Stuff", "threads#funny_stuff" %></h3>
