<p>
  
</p>
<nav class="comps">
  <li>
  <%= link_to "U-18s Mens", u18men_path %>
  </li>
  <li>
  <%= link_to "U-18s Womens", u18women_path %>
  </li>
  <li>
  <%= link_to "All-Ages Mens", aamen_path %>
  </li>
  <li>
  <%= link_to "All-Ages Womens", aawomen_path %>
  </li>
</nav>

<h2>Info</h2>

<p>
  The upcoming season will be starting from the 6th of May and will run for a period
  of 10weeks excluding semis/finals. Register your team now in the competition you would
  like to join.
</p>
<p>
  Currently hosting
      - U-18's Men's
      - U-18's Women's
      - All Ages Men's
      - All Ages Mixed

    Each of the above competitions are divided into two divisions and teams will be
    adjusted to fit into the said divisions after the trial matches in the week before
    the start of the proper season.
</p>
