/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

td {
  border: 2px solid black;
  vertical-align:middle;
  text-align: center;
  padding: 5px;
}

td:hover {
  background-color: #f5f5f5;
}

table {
  vertical-align: middle;
  border-collapse: collapse;
  padding: 10px;
  max-width: 60%;
  line-height: 2em;
  color: black;
  font-size: 15px;
}

a {
  margin-left: 5px;
}

.nav {
  font-size: 20px;
  background-color: gainsboro;
  flex-grow: 1;
  justify-content: space-around;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.col-md-8 {

}

nav.left {
  text-align: left;
  overflow: hidden;
  font-size: 20px;
}

nav.right {
  text-align: right;
  overflow: hidden;
  font-size: 20px;
}

.social {
  background-color: lightblue;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wrap {
  background: linear-gradient(orange, lightblue);
  padding: 10px;
  color: lavender;
}

.social img {
  border-radius: 25%;
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
  margin-top: 5px;
}

body {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background: linear-gradient(
    to right,
    #ff9e2c 0%,
    #ff9e2c 50%,
    #b6701e 50%,
    #b6701e 100%
  );
}

h1 {
  text-shadow: 0 5px 0 #FFFFF;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.welcome {
  color: lavender;
}

h2.error {
  color: lavender;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 15px;
}

.main {
  text-align: justify;
}

.comps {
  text-align: center;
}

.feature1 img {
  max-width: 30%;
  display: inline-block;
}

.form-group {
  display: block;
  font-size: 18px;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  margin-bottom: 80px;
}

@media (max-width: 350px) {
  .nav {
    position: relative;
  }
  .nav a {
    display:block
  }
}
