// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contactUsPage {
  margin-left: 2em;
  margin-right: 2em;
}

.wrap {
  background: linear-gradient(orange, lightblue);
  padding: 10px;
  color: black;
  text-align: center;
  margin: 0 auto;
}

.btn-danger {
  margin-top: 10px;
}

.form-group {
  text-align: center;
}

.buttons{
  cursor: pointer;
}

.slick-prev {
  visibility: hidden;
  display: none;
}

.slick-next {
  display:none;
  visibility: hidden;
}

td {
  border: 2px solid black;
  vertical-align:middle;
  text-align: center;
  padding: 5px;

}

td:hover {
  background-color: #f5f5f5;
}

table {
  vertical-align: middle;
  border-collapse: collapse;
  padding: 10px;
  max-width: 60%;
  line-height: 2em;
  color: black;
  font-size: 15px;
}

a {
  margin-left: 5px;
}

.gohome a {
  color: yellow;
}

/*.nav {
  font-size: 20px;
  background-color: gainsboro;
  flex-grow: 1;
  justify-content: space-around;
  padding: 5px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}*/

/*.nav a {
  color: white;
}*/

.social {
  background-color: lightsteelblue;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social a {
  opacity: 0.9;
}

.social a:hover {
  opacity: 1;
}

.social img {
  border-radius: 25%;
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  margin: 0 auto;
}

/*body {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  color: black;
  background: linear-gradient(
    to right,
    #ff9e2c 0%,
    #ff9e2c 50%,
    #b6701e 50%,
    #b6701e 100%
  );
}*/

.homeH1 {
  text-shadow: 0 5px 0 #FFFFF;
  font-size: 50px;
  margin-top: -10%;
  text-align: center;
}

.homeH2 {
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 10px;
  text-align: center;
}

.welcome {
  color: lavender;
}

h2.error {
  color: lavender;
  margin-top:40px;
}

h3 {
  font-size: 22px;
}

p.pages {
  font-size: 15px;
  text-align: justify;
}

.main {
  text-align: justify;
}

.comps {
  text-align: center;
}

.fade {
  opacity: 1;
  display: inline-block;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  height: 50vh;
  width: 75vw;
}

.slick-dots {
  visibility: hidden;
  display: none;
}

/*.fade img {
  max-width: 50%;
}*/

.form-group {
  display: block;
  font-size: 18px;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  margin-bottom: 80px;
}

@media (max-width: 350px) {
  .nav {
    position: relative;
  }
  .nav a {
    display:block
  }
  iframe {
    width: 330px;
    height:250px;
  }
}
