// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#xyzxyz {
  margin-bottom: 3%;
}

a.tname {
  text-decoration: none;
  color:yellow;
}

.panel {
  text-align: center;
}
